<div
  class="wish-editor__overlay"
  *ngIf="activeProduct"
  (click)="onOverlayClick($event)"
>
  <div class="wish-editor">
    <header class="wish-editor__header">
      <h2>Edit Wish Item</h2>
      <a [href]="activeProduct.url" target="_blank">Buy now</a>
      <button class="wish-editor__header__close-btn" (click)="onClose()">
        X
      </button>
    </header>
    <label>Where to buy</label>
    <input
      [(ngModel)]="activeProduct.url"
      type="text"
      placeholder="Enter product URL"
      [readonly]="readonly"
    />
    <label>Image link</label>
    <input
      [(ngModel)]="activeProduct.image"
      type="text"
      placeholder="Enter product Image URL"
      [readonly]="readonly"
    />
    <img class="wish-editor__image" [src]="activeProduct.image" />
    <label>Name</label>
    <input
      [(ngModel)]="activeProduct.title"
      type="text"
      placeholder="Enter product Title"
      [readonly]="readonly"
    />
    <label>Price</label>
    <input
      [(ngModel)]="activeProduct.price"
      type="number"
      placeholder="Enter product Price"
      [readonly]="readonly"
      min="0"
    />
    <footer class="wish-editor__footer">
      <button
        class="wish-editor__footer__delete-btn"
        (click)="onDelete(activeProduct.id)"
        *ngIf="!readonly"
      >
        Delete</button
      ><button
        class="wish-editor__footer__save-btn"
        (click)="onSave(activeProduct)"
        *ngIf="!readonly"
      >
        Save
      </button>
    </footer>
  </div>
</div>
