.wish-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  overflow: hidden;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: white;
  }

  &__title {
    font-size: large;
    padding: 0 16px;
  }

  &__price {
    margin-top: auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 32px;
    margin: 0;
    gap: 16px;

    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 904px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1240px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
