<ul class="wish-item__list">
  <li
    class="wish-item"
    *ngFor="let product of products"
    (click)="setSelectedProduct(product)"
  >
    <img class="wish-item__image" [src]="product.image" [alt]="product.title" />
    <h2 class="wish-item__title">{{ product.title }}</h2>
    <p class="wish-item__price">
      {{ product.price | currency : "UAH" : "symbol-narrow" }}
    </p>
  </li>
</ul>
<app-wish-list-editor
  [product]="selectedProduct"
  [readonly]="readonly"
  (closePopup)="onClosePopup()"
  (updateProducts)="updateParentProducts()"
></app-wish-list-editor>
